// import dark theme
// @use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use "./element/index.scss" as *;
@use "./test/marker.scss" as marker;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    // color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
  
#app {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

// $marker-clr: rgba(55, 210, 250, 0.5);

.bg-marker {
    background-color: marker.$bg-clr;
}
.border-marker {
    border: 0.5px dashed marker.$border-clr;
}