// import dark theme
// @use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use "./element/index.scss" as *;
@use "./test/marker.scss" as marker;

$bg-color: #ecedf4;
$bg-color-dark: #282C34;

html.dark {
    // background-color: $bg-color-dark;
    .headbar-box {
        background-color: $bg-color-dark;
    }
    .container-box {
        background-color: $bg-color-dark;
    }
}
html {
    // background-color: $bg-color;
    .headbar-box {
        background-color: $bg-color;
    }
    .container-box {
        background-color: $bg-color;
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    // color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    // min-height: 100vh;
}
  
.root-box {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.bg-marker {
    background-color: marker.$bg-clr;
}
.border-marker {
    border: 0.5px dashed marker.$border-clr;
}